.language-button-container {
    height: 30px;
    border-radius: 7px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    transition: all 0.1s ease-in-out;

    &__button {
        color: black;
        height: 40px;
        border: none;
    }

    &__button:first-child {
        padding-left: 15px;
        padding-right: 10px;
        border-right: 2px solid black;
    }

    &__button:last-child {
        padding-left: 10px;
        padding-right: 15px;
    }

    &__button:hover {
        cursor: pointer;
    }

    &__button:hover,
    &__button.active {
        background-color: rgb(145, 0, 0);
        color: white;
    }
}
