@import '/src/variables';

.button {
    height: 45px;
    border-radius: 7px;
    padding-left: 25px;
    padding-right: 25px;
    transition: all 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
    background-color: $blue;
    border: 2px solid $blue;
    box-shadow: 0px 0px 0px 0px $blue;

    &__hidden-text {
        opacity: 0;
    }

    &__default-text {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.2s ease-in-out;
        color: $black;
        opacity: 1;
    }

    &__hovering-text {
        width: 100%;
        position: absolute;
        top: calc(50% + 15px);
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.2s ease-in-out;
        opacity: 0;
    }

    &__default-text.hovering.animateText {
        top: calc(50% - 15px);
        opacity: 0;
    }

    &__hovering-text.hovering.animateText {
        top: 50%;
        color: $blue;
        opacity: 1;
    }

    &__default-text.hovering {
        color: $blue;
        opacity: 1;
    }
}

.button:hover {
    cursor: pointer;
    background-color: $black;
    border: 2px solid $blue;
    box-shadow: 0px 0px 10px 0px $blue;
}
