@import '/src/variables';

.text-area {
    width: 100%;

    &__field {
        width: 100%;
        background: transparent !important;
        border: none !important;
        border-bottom: 2px solid $white !important;
        border-radius: 0 !important;
        font-size: 16px !important;
        line-height: 24px !important;
        outline: none !important;
        padding-bottom: 10px !important;
        color: $white !important;
    }

    &__field::placeholder {
        opacity: 1;
        color: $white !important;
        font-size: 16px !important;
        line-height: 24px !important;
        background: transparent !important;
    }

    &__field:focus::placeholder {
        opacity: 0.5 !important;
        background: transparent !important;
    }

    &__field:-webkit-autofill,
    &__field:-webkit-autofill:focus {
        background-color: transparent !important;
    }

    &__message{
        margin: 5px 0 0;
        padding: 0;
        font-size: 12px !important;
        position: absolute;
        bottom: -20px;
        left: 0;
    }
}
