@import '/src/variables';

.video-section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
    min-height: calc(100vh - 200px);

    &__video {
        width: 1400px;
        height: auto;
        border-radius: 10px;
    }

    @media (max-width: 1700px) {
        &__video {
            width: 80vw;
        }
    }

    @media (max-width: 850px) {
        min-height: unset;
        padding: 60px 0px;
        &__video {
            width: calc(100% - 60px);
        }
    }
}
