@import '/src/variables';

.service-container {
    border-left: 1px solid transparent;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    background-color: $darkGrey;
    border-radius: 10px;
    padding: 20px 20px 10px;

    &__content {
        width: 100%;
        &__title {
            transition: all 0.2s ease-in-out;
            font-size: 18px;
            margin-bottom: 20px;
            color: $white;
            text-transform: uppercase;
        }

        &__description {
            color: $lightGrey;
            font-size: 14px;
            border-bottom: 1px dotted lightGrey;
            padding-bottom: 12px;
            margin-bottom: 12px;
            opacity: 0;
            transform: scale(0.5);
        }

        &__description.visible {
            opacity: 1;
            transform: scale(1);
        }

        @for $i from 1 through 10 {
            &__description:nth-child(#{$i}) {
                transition: all 0.8s #{$i / 10}s ease-in-out;
            }
        }
    }
}

.service-container:hover {
    cursor: pointer;

    .title {
        font-size: 20px;
    }
}
