@import '/src/variables';

.service-container {
    border-left: 1px solid $black;
    padding-left: 18px;
    height: 470px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    &__index {
        margin-bottom: 100px;
        font-size: 20px;
    }

    &__content {
        &__title {
            transition: all 0.2s ease-in-out;
            font-size: 20px;
            margin-bottom: 40px;
            color: $black;
        }

        &__description {
            color: $black;
            font-size: 16px;
            border-bottom: 1px dotted $black;
            padding-bottom: 7px;
            margin-bottom: 7px;
        }
    }
}

.service-container:hover {
    cursor: pointer;

    .title {
        font-size: 25px;
    }
}
