@import '/src/variables';

.services-section {
    color: $black;
    padding: 150px $normalSectionPadding;
    overflow: hidden;
    background-color: $white;
    display: grid;
    align-items: center;
    justify-content: space-between;
    min-height: calc(100vh - 300px);
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;

    @media (max-width: 1300px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 700px) {
        grid-template-columns: repeat(1, 1fr);
    }

    &__service {
        position: relative;
        height: 100%;
        max-height: 500px;
        opacity: 0;
        transform: scale(0.5);

        @media (max-width: 1300px) {
            max-height: unset;
        }
    }

    &__service.visible {
        opacity: 1;
        transform: scale(1);
    }

    &__service:nth-child(1) {
        transition: all 0.8s 0.1s ease-in-out;
    }

    &__service:nth-child(2) {
        transition: all 0.8s 0.2s ease-in-out;
    }

    &__service:nth-child(3) {
        transition: all 0.8s 0.3s ease-in-out;
    }

    &__service:nth-child(4) {
        transition: all 0.8s 0.4s ease-in-out;
    }
}
