@import '/src/variables';

.services-section {
    color: $black;
    padding: 150px $normalSectionPadding;
    overflow: hidden;
    background-image: radial-gradient(#212121 0%, #000000 60%);
    min-height: calc(100vh - 300px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &__text {
        font-size: 13px;
        color: $white;
        margin-top: 10px;
        opacity: 0;
        transform: scale(0.5);
        transition: all 0.8s ease-in-out;
    }
    &__text.visible {
        opacity: 1;
        transform: scale(1);
    }
    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 5px;

        &__service {
            position: relative;
            opacity: 0;
            transform: scale(0.5);
            width: 275px;
            padding: 1px;
        }

        &__service.visible {
            opacity: 1;
            transform: scale(1);
        }

        &__service:nth-child(1)::before,
        &__service:last-child::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 2px; /* width of the border */
            z-index: -1;
            -webkit-mask: linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
            mask: linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
            mask-composite: exclude;
            pointer-events: none;
            border-radius: 10px;
        }

        &__service:nth-child(1)::before {
            background: linear-gradient(
                to bottom right,
                $white 0%,
                $darkGrey 40%
            );
        }

        &__service:last-child::before {
            background: linear-gradient(to top left, $white 0%, $darkGrey 40%);
        }

        &__service:nth-child(1) {
            transition: all 0.8s 0.1s ease-in-out;
        }

        &__service:nth-child(2) {
            transition: all 0.8s 0.2s ease-in-out;
        }

        &__service:nth-child(3) {
            transition: all 0.8s 0.3s ease-in-out;
        }

        &__service:nth-child(4) {
            transition: all 0.8s 0.4s ease-in-out;
        }
    }


    @media (max-width: 1400px) {
        &__content {
            max-width: 600px;
            gap: 10px;
        }
    }

    @media (max-width: 850px) {
        padding: 60px $tabletSectionPadding;
        min-height: unset;
    }

    @media (max-width: 800px) {
        &__content {
            max-width: 300px;
            gap: 20px;
        }
    }
}
