@import '/src/variables';

.services-section {
    color: $white;
    margin-top: 80px;

    &__title {
        margin-bottom: 90px;
        font-size: 80px;
        color: $white;
    }

    &__services {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        &__service {
            position: relative;
            width: calc((100% - 90px) / 4);

            @media (max-width: 800px) {
                width: calc((100% - 30px) / 2);
            }

            @media (max-width: 500px) {
                width: 100%;
            }
        }
    }
}
