@import '/src/variables';

.language-selector-container {
    position: relative;

    &__button {
        background-color: transparent;
        color: $white;
        padding: 10px 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        font-size: 14px;
        border: none;

        svg {
            width: 16px;
            height: 16px;
            margin-top: -2px;
            path {
                fill: $white;
            }
        }
    }

    &__dropdown {
        display: none;
        font-size: 14px;

        &__button {
            width: 100%;
            padding: 7px 0px;
            background-color: $white;
            color: $black;
            border:none;
            transition: all 0.2s ease-in-out;
        }
    }

    &__dropdown.active {
        width: 100%;
        display: inherit;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: $white;
        color: $black;
        border-radius: 7px;
        overflow: hidden;
    }
}

.language-selector-container:hover {
    cursor: pointer;
}
