@import '/src/variables';

.contact-us-section {
    padding: 150px $normalSectionPadding;
    height: calc(100vh - 300px);
    color: $white;
    overflow: hidden;
    position: relative;

    &__background-image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: 1;
        opacity: 0;
        transition: all 0.8s;
    }

    &__background-image.visible{
        opacity: 0.4;
    }

    &__title{
        font-size: 45px;
        max-width: 767px;
        color: $white;
        margin-bottom: 140px;
        z-index: 2;
        position: relative;
        transition: all 0.8s;
        opacity: 0;
        transform: scale(0.5);
    }

    &__title.visible{
        opacity: 1;
        transform: scale(1);
    }

    &__content {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 35px;
        flex-wrap:wrap;
        z-index: 2;
        position: relative;

        &__left-side {
            width: calc(65% - (35px / 2));

            &__text{
                transition: all 0.8s;
                opacity: 0;
                transform: scale(0.5);
            }

            &__text.visible{
                opacity: 1;
                transform: scale(1);
            }
        }

        &__right-side {
            width: calc(35% - (35px / 2));

            &__field-container{
                opacity: 0;
                transform: translate3d(200px, 0px, 0px);
            }

            &__field-container.visible{
                opacity: 1;
                transform: translate3d(0px, 0px, 0px);
            }

            &__field-container:nth-child(1) {
                transition: all 0.8s;
            }
    
            &__field-container:nth-child(2) {
                transition: all 0.8s 0.1s;
            }
    
            &__field-container:nth-child(3) {
                transition: all 0.8s 0.2s;
            }

            &__field-container:nth-child(4) {
                transition: all 0.8s 0.3s;
            }
        }

        &__right-side {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            position: relative;
            gap: 40px;

            & > div {
                width: 100%;
            }

            &__footer {
                margin-top: 40px;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;

                &__button-container{
                    transition: all 0.8s 0.4s;
                    opacity: 0;
                    transform: translate3d(0px, 200px, 0px);
                }

                &__button-container.visible{
                    opacity: 1;
                    transform: translate3d(0px, 0px, 0px);
                }
            }
        }

        @media (max-width: 875px) {

            &__left-side, &__right-side {
                width: 100%;
            }
        }
    }
}
