@import '/src/variables';

.contact-us-section {
    padding: 150px $normalSectionPadding;
    height: calc(100vh - 300px);
    color: $white;
    overflow: hidden;
    position: relative;

    &__background-image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: 1;
    }

    &__title{
        font-size: 45px;
        max-width: 767px;
        color: $white;
        margin-bottom: 140px;
        z-index: 2;
        position: relative;
    }

    &__content {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 35px;
        flex-wrap:wrap;
        z-index: 2;
        position: relative;

        &__left-side {
            width: calc(65% - (35px / 2));
        }

        &__right-side {
            width: calc(35% - (35px / 2));
        }

        &__right-side {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            position: relative;
            gap: 40px;

            & > div {
                width: 100%;
            }

            &__footer {
                margin-top: 40px;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
            }
        }

        @media (max-width: 875px) {

            &__left-side, &__right-side {
                width: 100%;
            }
        }
    }
}
