.website-menu {
    width: calc(100% - 80px);
    position: fixed;
    z-index: 999;
    top: 0;
    transition: all 0.5s ease-in-out;
    padding: 20px 40px 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    &__left-side {
        font-size: 35px;
    }

    &__right-side {
    }
}
