@import '/src/variables';

.website-menu {
    width: calc(100% - 80px);
    position: fixed;
    z-index: 999;
    top: 0;
    transition: all 0.5s ease-in-out;
    padding: 20px 40px 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    background-color: $blackTransparentBackground;

    &.visible {
        transform: translateY(0);
    }

    &.hidden {
        transform: translateY(-100%);
    }

    &__left-side {
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: $blue;

        &__separator {
            background-color: $white;
            width: 1px;
            height: 25px;
            margin: 0px 30px;
        }
    }

    &__right-side {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 30px;

        &__button {
            margin-left: 20px;
        }
    }

    &__menu-right-side {
        display: none;
        button {
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            background-color: transparent;
            svg {
                width: 30px;
                height: 30px;
                path {
                    fill: $blue;
                }
            }
        }

        button:hover {
            cursor: pointer;
        }
    }

    @media (max-width: 850px) {
        &__menu-right-side {
            display: inherit;
        }

        &__right-side {
            display: none;
        }
    }
}
