@import '/src/variables';

.initial-section {
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    &__text {
        color: $white;
        z-index: 2;
        font-size: 65px;
        transition: all 0.8s 0.4s ease-in-out;
        opacity: 0;
        transform: scale(0.5);
        margin: 0;
    }

    &__text.visible {
        opacity: 1;
        transform: scale(1);
    }

    &__background-image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        width: 100%;
        object-fit: cover;
        z-index: 1;
        transition: all 0.8s 0.2s ease-in-out;
        opacity: 0;
    }

    &__background-image.visible {
        opacity: 1;
    }

    /*

    &__text-container {
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        gap: 20px;
        flex-direction: column;
        margin-bottom: 15vh;

        &__text {
            position: relative;
            z-index: 2;
            color: $blue;
            font-size: 65px;
            background-color: $blackTransparentBackground;
        }

        &__text:first-child{
            font-size: 75px;
        }

        &__text:last-child{
            font-size: 45px;
        }

        &__text:first-child, &__text:last-child{
            color: $white;
        }

        @media (max-width: 1000px) {
            gap: 15px;
            &__text {
                font-size: 50px;
            }
    
            &__text:first-child{
                font-size: 60px;
            }
    
            &__text:last-child{
                font-size: 30px;
            }
        }

        @media (max-width: 550px) {
            &__text {
                font-size: 30px;
            }
    
            &__text:first-child{
                font-size: 40px;
            }
    
            &__text:last-child{
                font-size: 15px;
            }
        }
    }
    */
}
