@import '/src/variables';

.projects-section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
    min-height: calc(100vh - 200px);

    &__video {
        max-width: 1400px;
        height: auto;
        border-radius: 10px;
    }
}
