@import '/src/variables';

.about-us-section {
    color: $white;
    overflow: hidden;
    padding: 0px 0px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 100px);

    &__text-container {
        width: 100%;
        max-width: 1400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;

        &__text {
            font-size: 96px;
            text-align: center;
            opacity: 0;
            transform: translate3d(-200px, 0px, 0px);

            span {
                background-color: $white;
                color: $black;
                padding: 10px 15px;
                transition: all 0.2s ease-in-out;
            }

            span:hover {
                background-color: $black;
                color: $white;
                cursor: pointer;
            }
        }

        &__text.visible {
            opacity: 1;
            transform: translate3d(0px, 0px, 0px);
        }

        &__text:nth-child(1) {
            transition: all 0.8s 0.2s ease-in-out;
        }

        &__text:nth-child(2) {
            transition: all 0.8s 0.3s ease-in-out;
        }

        &__text:nth-child(3) {
            transition: all 0.8s 0.4s ease-in-out;
        }

        @media (max-width: 1250px) {
            &__text {
                font-size: 45px;
                text-align: center;
            }
        }

        @media (max-width: 625px) {
            &__text {
                font-size: 25px;
                text-align: center;
            }
        }
    }
}
