@import '/src/variables';

.about-us-section {
    color: $white;
    overflow: hidden;
    margin: 100px 0px;

    &__text-container {
        p {
            font-size: 110px;
            text-align: center;
        }

        p.blue {
            color: $blue;
        }
    }
}
