.page-content {
    height: 100vh;
    background-color: black;

    &__body {
        min-height: 100%;
        padding-left: 40px;
        padding-right: 40px;
        width: calc(100% - 80px);
    }
}
