// Project color pallete
$white: white;
$blue: #52D7D5;
$buttonGrey: #D9D9D9;
$lightGrey: #B3B3B3;
$darkGrey: #2b2b2b;
$black: black;
$normalSectionPadding: 50px;
$blackTransparentBackground: rgba(0, 0, 0, 0.637);