.App {
    text-align: center;
}

* {
    cursor: unset;
}

/* Regular font */
@font-face {
    font-family: 'Circular Std';
    src: local('Circular Std'),
        url('./fonts/Circular-std-medium-500.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Regular font */
@font-face {
    font-family: 'CircularStd-Black';
    src: local('CircularStd-Bold'),
        url('./fonts/CircularStd-Bold.woff') format('woff');
}

/* Bold font */
@font-face {
    font-family: 'CircularStd-Black-Bold'; /*Can be any text*/
    src: local('CircularStd-Black'),
        url('./fonts/CircularStd-Black.woff') format('woff');
}

/* Italic font */
@font-face {
    font-family: 'CircularStd-Black-Italic';
    src: local('CircularStd-BlackItalic'),
        url('./fonts/CircularStd-BlackItalic.woff') format('woff');
}

/* Bold Italic font */
@font-face {
    font-family: 'CircularStd-Black-Bold-Italic';
    src: local('CircularStd-BoldItalic'),
        url('./fonts/CircularStd-BoldItalic.woff') format('woff');
}

/* Regular */
html,
html body,
html .text,
html button,
html p,
html span,
html div,
html input,
html a {
    font-family: 'Circular Std', sans-serif !important;
}

/* Bold */
html,
html body,
html .text.bold,
html button.bold,
html p.bold,
html span.bold,
html div.bold,
html input.bold,
html a.bold {
    font-family: 'CircularStd-Black-Bold' !important;
}

/* Italic */
html,
html body,
html .text.italic,
html button.italic,
html p.italic,
html span.italic,
html div.italic,
html input.italic,
html a.italic {
    font-family: 'CircularStd-Black-Italic' !important;
}

/* Bold Italic */
html,
html body,
html .text.bold-italic,
html button.bold-italic,
html p.bold-italic,
html span.bold-italic,
html div.bold-italic,
html input.bold-italic,
html a.bold-italic {
    font-family: 'CircularStd-Black-Bold-Italic' !important;
}

html body {
    background-color: black;
}

html p {
    margin: 0px;
    padding: 0px;
}

/*
START- SCROLL-BAR style
*/
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: none;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: none;
    border-left: solid 2px transparent;
    border-right: solid 2px transparent;
    box-shadow: inset 0 0 10px 10px white;
}
/*
END - SCROLL-BAR style
*/
